/* ques4:hover{
    background-color: lightblue;
} */
* {
  box-sizing: border-box;
}

.q0:hover {
  background-color: pink;
  color: black;
}
.q1:hover {
  background-color: rgb(55, 238, 18);
  color: black;
}
.q2:hover {
  background-color: royalblue;
  color: black;
}
.q3:hover {
  background-color: lightsalmon;
  color: black;
}
.jumbotron {
  background-image: url("../images/ryan-tang-273380-unsplash.jpg");
  color: whitesmoke;
  background-size: cover;
  position: absolute;
  /* top: 0; bottom: 0; left: 0; right: 0;
   */
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.container {
  border-radius: 0px 75px 0px 75px;
  -moz-border-radius: 0px 75px 0px 75px;
  -webkit-border-radius: 0px 75px 0px 75px;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 19px double #000000;

  background-image: url("../images/trianglify.png");
  /* background-blend-mode: lighten; */
}
.questionContainer {
  width: 600px;
  margin: auto;
}

.correctAnswerDisplay .incorrectAnswerDisplay .answer {
  font-size: 30px;
}
.quest {
  width: 500px;
  font-size: 24px;
  text-align: center;
}
.ques {
  font-size: 26px;
}
.gameOver {
  width: 400px;
  margin: auto;
  font-size: 32px;
  color: pink;
}
.form-control {
  color: blue;
}
.highlight {
  /* background-color: plum; */
  border-width: 2px;
  border-style: solid;
  border-color: forestgreen;
}
.wrongHL {
  background-color: red;
}
.gameStart {
  margin-top: 10px;
}
.newGame {
  margin-top: 10px;
}
